amex:
    un: <username>
    p: <your pw here (or supply via commandline)>
    notify_new: true
    notify_removed: true
    notify_eligible_expiry: true
    notify_enrolled_expiry: true
    notify_eligible_expiry_days: 3 
    notify_enrolled_expiry_days: 7
    notify_all_eligible: false
    notify_all_enrolled: false
    notify_summary_table: false
    notify_offer_limit_warning: true
    notify_advertisements: true

## Uncomment this block to enable offer filtering.
#    filter_offers:
#        - hugo boss
#        - jo malone
#        - hair care
#        - pinterest

## Uncomment this block to enable advertisement filtering.
#    filter_advertisements: 
#        - shoprunner
#        - refer your friend
#        - upgrade with points
#        - points with paypal
#        - lowest hotel rates guaranteed
#        - exclusive cruise offers
#        - turn points into travel
#        - find card member favorites
#        - more places to use your card
#        - let us monitor what matters
#        - use the savings calculator
#        - started accepting american express
#        - they spend, you control
#        - your loan offer is waiting
#        - support small businesses that welcome your card
#        - flexible vendor payments
#        - streamline expense management
#        - simplify expense management
#        - refer your bonvoy

email:
    to: <your_real_email@foo.com> 
    from_address: <your_sender_email_account@mail.com>
    from_p: <password for your sender account>
    from_smtp_port: 587
    from_smtp_server: smtp.mail.com
